/* Nav Section */
.nav {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.navii {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 160px;
  margin-top: 20px;
}

.navii a {
  text-decoration: none;
  color: black;
  font-family: 'Karla', sans-serif;
  margin-right: 30px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 30%;
  height: 30%;
  margin-right: 15px;
}

@media screen and (max-width: 857px) {
  .navii {
    justify-content: center;
    text-align: center;
    margin-right: 0px;
  }

  nav img {
    order: -1;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}

/* Main */
.presentation {
  height: 420px;
  width: 100%;
  background-color: #495e57;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.presentation img {
  width: 420.34px;
  height: 500px;
  border-radius: 15px;
  margin-left: 900px;
  margin-top: -300px;
}

.presentation h1 {
  font-size: 50px;
  color: #f4ce14;
  font-family: 'Markazi Text', serif;
  margin-left: 100px;
}

.presentation h2 {
  color: #ffffff;
  font-family: 'Markazi Text', serif;
  margin-top: -20px;
  margin-left: 100px;
}

.presentation h3 {
  width: 350px;
  height: 102px;
  color: #ffffff;
  font-family: 'Karla', serif;
  font-size: 22px;
  margin-left: 100px;
}

#reserve {
  background-color: #f4ce14;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  box-shadow: 3px 30px 15px rgba(0, 0, 0, 0.2);
  margin-left: 140px;
  width: 12em;
  height: 3em;
  font-size: 18px;
  font-weight: 800px;
}

#reserve:hover {
  background-color: #b700ff;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1301px) {
  @media screen and (max-width: 1301px) {
.presentation {
  padding-left: 0;
  padding-right: 0;
}

    .presentation img {
      display: none;
    }
    .presentation h1 {
      font-size: 40px;
      margin-left: 50px;
      margin-left: auto;
      margin-right: auto; /* Centre le texte */
      justify-content: center;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }

    .presentation h2 {
      font-size: 30px;
      margin-left: 50px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }

    .presentation h3 {
      font-size: 16px;
      margin-left: 50px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }

    #reserve {
      margin-left: 50px;
      width: 10em;
      font-size: 14px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* --------------------------------------------------- */

.specials {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 400px;
}

.specials h1 {
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 60px;
}

.specials button {
  background-color: #f4ce14;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  box-shadow: 3px 30px 15px rgba(0, 0, 0, 0.2);
  margin-left: 140px;
  width: 12em;
  height: 3em;
  font-size: 18px;
  font-weight: 800px;
}

.specials button:hover {
  background-color: #b700ff;
}

.cards {
  display: flex;
  padding-bottom: 100px;
  padding-top: 100px;
}

.card {
  width: 273px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 5px 10px 20px #ccc;
  background-color: #f2efef;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Karla', sans-serif;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuer l'espace vertical entre les éléments */
  align-items: flex-start; /* Aligner les éléments sur la partie supérieure du conteneur */
  height: 350px;
}

.card-title {
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 35px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.card-text {
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  font-size: 16px;
  padding: 1em;
}

.cards .card img {
  width: 273px;
  height: 219px;
  border-radius: 10px;
}

.order {
  background-color: #f4ce14;
  color: black;
  padding: 15px 40px;
  border: none;
  border-radius: 2em;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1301px) {
  .specials {
    padding: 0 100px;
    flex-direction: column;
    align-items: center;
  }

  .specials button {
    margin-top: 30px;
    margin-left: 0px;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-top: 100px;
  }
}
/* --------------------------------------------------- */

.testimonials {
  background-color: #495e57;
  padding: 20px; /* Ajout de padding pour un espacement autour du contenu */
}

.testimonials h1 {
  color: #f4ce14;
  font-family: 'Markazi Text', serif;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.cards2 {
  display: flex;
  justify-content: space-around; /* Aligner les cartes avec un espace égal entre elles */
  flex-wrap: wrap; /* Permettre le retour à la ligne des cartes si nécessaire */
}

.card2 {
  width: 273px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: 'Karla', sans-serif;
  margin-bottom: 20px; /* Espacement entre les cartes */
  box-shadow: #f4ce14 0px 3px 5px 0px;
  border-radius: 10px;
}

.card2-body {
  padding: 20px; /* Ajout de padding à l'intérieur de la carte */
  text-align: center; /* Alignement du contenu au centre */
}

.card2 h2 {
  margin-top: 10px; /* Espacement entre le titre et le reste du contenu */
  font-family: 'Markazi Text', serif;
  font-weight: normal;
}

.card2 h3 {
  margin-top: 10px; /* Espacement entre le texte et le reste du contenu */
  font-family: 'Karla', sans-serif;
  font-weight: normal;
}

.card2 .personality {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.card2 .stars {
  height: 70px;
  width: 125px;
}

/* --------------------------------------------------- */

#mario {
  height: 386px;
  width: 603px;
  margin-top: 50px;
  position: relative; /* Ajout de position relative */
  z-index: 2;
  margin-right: 750px;
  margin-top: 220px;
  margin-left: -350px;
  box-shadow: #495e57 0px 0px 20px 10px;
  border-radius: 10px;
}

#restaurant {
  height: 386px;
  width: 603px;
  position: absolute; /* Changement de position en absolu */
  top: 0; /* Ajout de top */
  left: 0; /* Ajout de left */
  z-index: 1;
  box-shadow: #495e57 0px 0px 20px 10px;
  border-radius: 10px;
}

.descri {
  display: flex;
  padding-bottom: 100px;
  position: relative;
  padding-top: 100px;
}

.left-side {
  padding: 5em;
  position: relative;
  padding-right: 400px;
}

.left-side h1 {
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 60px;
}

.left-side h2 {
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 30px;
  margin-top: -20px;
}

.left-side p {
  color: black;
  font-family: 'Karla', serif;
  font-size: 22px;
  width: 370px;
}

.right-side {
  position: relative;
  width: auto;
  padding-left: 150px;
}

@media only screen and (max-width: 768px) {
  .descri {
    flex-direction: column; /* Disposer les éléments en colonne */
    align-items: center; /* Centrer les éléments horizontalement */
  }

  #mario {
    width: 100%; /* Ajuster la largeur à 100% de l'écran */
    margin: 20px auto; /* Centre l'image horizontalement */
  }

  #restaurant {
    width: 100%; /* Ajuster la largeur à 100% de l'écran */
    position: relative; /* Changer la position à relative */
    top: auto;
    left: auto;
    margin: 20px auto; /* Centre l'image horizontalement */
  }

  .left-side {
    padding-right: 0; /* Supprimer le padding à droite */
    padding-left: 0; /* Supprimer le padding à gauche */
    margin-right: auto;
    margin-left: auto;
  }

  .right-side {
    padding-left: 0; /* Supprimer le padding à gauche */
    padding-right: 0; /* Supprimer le padding à droite */
    margin-right: auto;
    margin-left: auto;
  }

  .left-side h1,
  h2,
  p {
    justify-content: center;
    text-align: center;
    font-size: 40px;
  }
}

/* --------------------------------------------------- */

.separation {
  background-color: #000000;
  height: 5px;
  width: 100%;
}

.separation2 {
  background-color: #495e57;
  height: 5px;
  width: 100%;
}

/* --------------------------------------------------- */


/* Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 417px;
}

.f-navi,
.f-navii,
.f-naviii {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-navi {
  list-style-type: none;
  padding: 0;
}

.f-navi li {
  margin-bottom: 10px;
}

.f-navi span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.f-navi a,
li {
  text-decoration: none;
  color: black;
}

.contact li {
  margin: 0px;
}

.social li {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: stretch;
  }

  .f-navi,
  .f-navii,
  .f-naviii {
    margin-bottom: 20px;
  }
}


.form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}