/* Nav Section */
.nav {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Ajout de la propriété flex-wrap pour permettre le passage à la ligne */
}

#navii {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: auto;
  justify-content: center;
  align-items: center;
}

#navii a {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 30%; /* Largeur de l'image */
  height: 30%; /* Hauteur automatique pour conserver les proportions */
  margin-right: 15px; /* Espacement entre l'image et les éléments de la liste */
}

@media screen and (max-width: 857px) {
  #navii {
    justify-content: center;
  }

  nav img {
    order: -1; /* Déplacer l'image au-dessus des autres éléments */
    margin-bottom: 10px; /* Ajouter un espacement entre l'image et les éléments de navigation */
    width: 100%; /* Ajuster la largeur de l'image pour les petits écrans */
    height: auto; /* Hauteur automatique pour conserver les proportions */
  }
}

/* Footer Section */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 1440px;
  height: 417px;
}
#f-navi {
  width: 211px;
  height: 214px;
}

#f-navii {
}

#f-navi {
    
}