/* Nav Section */
.nav {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.navii {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 160px;
  margin-top: 20px;
}

.navii a {
  text-decoration: none;
  color: black;
  font-family: 'Karla', sans-serif;
  margin-right: 30px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 30%;
  height: 30%;
  margin-right: 15px;
}

@media screen and (max-width: 857px) {
  .navii {
    justify-content: center;
    text-align: center;
    margin-right: 0px;
  }

  nav img {
    order: -1;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}

/* Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 417px;
}

.f-navi,
.f-navii,
.f-naviii {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-navi {
  list-style-type: none;
  padding: 0;
}

.f-navi li {
  margin-bottom: 10px;
}

.f-navi span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.f-navi a,
li {
  text-decoration: none;
  color: black;
}

.contact li {
  margin: 0px;
}

.social li {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: stretch;
  }

  .f-navi,
  .f-navii,
  .f-naviii {
    margin-bottom: 20px;
  }
}

/* Main */
.presentation {
  height: 420px;
  width: 100%;
  background-color: #495e57;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.presentation img {
  width: 420.34px;
  height: 500px;
  border-radius: 15px;
  margin-left: 900px;
  margin-top: -300px;
}

.presentation h1 {
  font-size: 50px;
  color: #f4ce14;
  font-family: 'Markazi Text', serif;
  margin-left: 100px;
}

.presentation h2 {
  color: #ffffff;
  font-family: 'Markazi Text', serif;
  margin-top: -20px;
  margin-left: 100px;
}

.presentation h3 {
  width: 350px;
  height: 102px;
  color: #ffffff;
  font-family: 'Karla', serif;
  font-size: 22px;
  margin-left: 100px;
}

#reserve {
  background-color: #f4ce14;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  box-shadow: 3px 30px 15px rgba(0, 0, 0, 0.2);
  margin-left: 140px;
  width: 12em;
  height: 3em;
  font-size: 18px;
  font-weight: 800px;
}

#reserve:hover {
  background-color: #b700ff;
}

@media screen and (max-width: 1301px) {
  @media screen and (max-width: 1301px) {
    .presentation img {
      display: none;
    }
    .presentation h1 {
      font-size: 40px;
      margin-left: 50px;
      margin-left: auto;
      margin-right: auto; /* Centre le texte */
    }

    .presentation h2 {
      font-size: 30px;
      margin-left: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .presentation h3 {
      font-size: 16px;
      margin-left: 50px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    #reserve {
      margin-left: 50px;
      width: 10em;
      font-size: 14px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.specials {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 400px;
}

.specials h1 {
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 60px;
}

.specials button {
  background-color: #f4ce14;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  box-shadow: 3px 30px 15px rgba(0, 0, 0, 0.2);
  margin-left: 140px;
  width: 12em;
  height: 3em;
  font-size: 18px;
  font-weight: 800px;
}

.specials button:hover {
  background-color: #b700ff;
}

.cards {
  display: flex;
  padding-bottom: 1000px;
  padding-top: 100px;
}

.card {
  width: 273px; /* Ajustez la largeur des cartes selon vos besoins */
  border: 1px solid #ddd; /* Ajoutez une bordure */
  border-radius: 8px; /* Ajoutez une bordure arrondie */
  box-shadow: 5px 10px 20px #ccc;
  background-color: #f2efef;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Karla', sans-serif;
}

.card-title {
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 35px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

}

.card-text {
  display: block;
  font-family: 'Karla', sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-style: italic;
  font-size: 16px;
  padding: 1em;

}

.cards .card img {
  width: 273px;
  height: 219px;
  border-radius: 10px;
}
